
<div class="container">
	<div class="row">
		<div class="col-md-5 align-self-center">
			<h1 id="bigtitle">線上聯絡簿</h1>
			<p></p>
		</div>
		<div class="col-md-1">
			
		</div>

		<div class="col-md-6 align-self-end">
	      <div class="container">
	        <img src="<%= image_path('homepage-logo.png') %>" alt="" id="logo" height="100%" width="100%">
	      </div>
	    </div>
	</div>
</div>






<style>
  	body{
      background-image: url('<%= image_path('homepagebg.png') %>');
      background-repeat: no-repeat;
      background-position:top -200px right -100px;
      background-color: #F9F9F9;
    }
    #bigtitle{
    	font-weight: bold;
    }

</style>



