<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <httpPlatform stdoutLogEnabled="true" stdoutLogFile="C:\www\clvsc-project\log\rails.log" startupTimeLimit="20" processPath="C:\Ruby26-x64\bin\ruby.exe"
                  arguments="&quot;C:\www\clvsc-project\bin\rails&quot; server -p %HTTP_PLATFORM_PORT% -b 127.0.0.1">
            <environmentVariables>
                <environmentVariable name="RAILS_ENV" value="production"/>
                <environmentVariable name="RACK_ENV" value="production"/>
                <environmentVariable name="RAILS_LOG_TO_STDOUT" value="enabled"/>
                <environmentVariable name="RAILS_SERVE_STATIC_FILES" value="enabled"/>
                <environmentVariable name="DATABASE_URL" value="mysql2://clvsc_project:clvsc_project@122.116.12.7:3306/clvsc_project"/>
                <environmentVariable name="SECRET_KEY_BASE" value="4c16a8c40506e74b5e3cd3bd1a58eb6931f3f49c94d4996f452bb9328f6861650ad6f00030f21fc0a5a3c119f4fadddc6c4975ac7f8e369376cacca47517a891"/>
            </environmentVariables>            
        </httpPlatform>
    </system.webServer>
</configuration>