<h2>教師</h2>
<table class="table table-hover">
    <tbody>
        <% @teachers.each do |teacher| %>
            <tr>
                <th scope="row"><span class="uname"><img src="<%= teacher.uimg %>" class="uimg"><%= teacher.uname %></span></th>
                <th style="vertical-align: middle;text-align: right;">
                    <a href="mailto:<%= teacher.email %>"><i class="far fa-envelope fa-lg fa-fw"></i></a>
                    <% if teacher.id != current_user.id %>
                        <%= link_to '<i class="fas fa-sign-out-alt fa-lg fa-fw"></i>'.html_safe , admin_classroom_member_path(@classroom,teacher, type: "teacher"), method: :delete, data: {confirm: "確定剔除此人?"}, remote: true %>
                    <% end %>
                </th>
            </tr>
        <% end %>
    </tbody>
</table>