<% provide :web_title ,"我的教室" %>
<!-- <div style="padding: 20px;margin-top: 60px;">
	<div style="margin-bottom: 10px;">
		角色切換:<br>
		<div class="custom-control custom-radio custom-control-inline">
			<input type="radio" id="radiostudent" value="student" name="usertype" class="custom-control-input" checked>
			<label class="custom-control-label" for="radiostudent">我是學生</label>
		</div>
		<div class="custom-control custom-radio custom-control-inline">
			<input type="radio" id="radioadmin" value="admin" name="usertype" class="custom-control-input">
			<label class="custom-control-label" for="radioadmin">我是管理者</label>
		</div>
	</div>
	<div class="row" id="myclassroom">
	</div>
</div>

<script>
	window.onload = function() {
		var value = $('input[type=radio][name=usertype]').val()
		getlist(value)
	};
	$('input[type=radio][name=usertype]').click(function() {
        getlist(this.value)
    });
	function getlist(value) {
		if (value == 'admin') {
            $.getScript('/classrooms?admin=true', function(){});
        }
        else if (value == 'student') {
            $.getScript('/classrooms', function(){});
        }
	}
</script> -->


<div style="padding: 20px;margin-top: 60px;">
	<ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
	  <li class="nav-item">
	    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
		    我是學生
		</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
	    	管理教室
	    </a>
	  </li>
	</ul>
	<div class="tab-content" id="myTabContent">
	  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
	  	<%= render "classrooms/indexpage/student" %>
	  </div>
	  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
	  	<%= render "classrooms/indexpage/admin" %>
	  </div>
	</div>
</div>



<style>
	#classuimg{
		border-radius: 50%;
		width: 30px;
		height: 30px;
		margin-right: 10px;
	}
	.tab-pane{
		padding-top: 20px;
	}
</style>