<% provide :web_title ,"我的教室" %>
<div style="padding: 20px;margin-top: 60px;">
<%= link_to "Text", '/classrooms?admin=true' ,remote: true%>
	<div class="row" id="myclassroom">
		<script>
			window.onload = function() {
				$.getScript('/classrooms', function(){});
			};
		</script>
	</div>
</div>