<% provide :web_title , @classroom['name'] %>

<div class="container" style="padding:20px;">
	<h3 id="classroomname"><%= @classroom['name'] %></h3>	
	<div id="classroominfo">
		<br>
		教室代碼：<%= @classroom['addcode'] %>
	</div>
</div>



<style>
	#classroomname{
		text-align: center;
		font-weight: bold;
	}
</style>