<% provide :web_title, "編輯週記題目" %>

<div class="container" style="padding: 20px;margin-top: 60px;">
	<h1>編輯週記題目</h1>

	<%= render 'form' %>

	<%= link_to '取消', admin_classroom_weeknote_path(@classroom,@weeknotesubject) %>
</div>
