<% provide :web_title, "新增週記題目" %>

<div class="container" style="padding: 20px;margin-top: 60px;">
	<h1>新增週記題目</h1>

	<%= render 'form' %>

	<%= link_to '取消', admin_classroom_weeknotes_path(@classroom) %>
</div>
