/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
@import url("/css/uikit_card.css");

*{
	font-family: 'Noto Sans TC', sans-serif;
}

body{
	background-color: #F9F9F9;
}

nav{
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	justify-content: space-between;
	padding: 15px 15px 15px 15px;
	background-color: #FFF;
	z-index: 10;
}

nav #nav-logo a{
	text-decoration: none;
	color: #000;
	font-weight: bold;
	font-size: 20px;
}
nav #nav-item a{
	text-decoration: none;
	color: #000;
	font-size: 20px;
	margin-right: 10px;
	font-weight: bold;
	position: relative;
}

nav #uimg {
	height: 30px;
	width: 30px;
	margin-right: 10px;
	/*margin-top: 0px;*/
	border-radius: 50%;
}

nav #nav-item a:after{
	content: "";
	position: absolute;
	left: 50%;
	right: 50%;
	bottom: -10px;
	border: 3px solid #000;
	transition: 0.3s;
	opacity: 0;
}
nav #nav-item a:hover:after{
	left: 0;
	right: 0;
	opacity: 1;
}



@media screen and (max-width: 756px){
  body{
	    padding-bottom: 60px;
	}

	nav #nav-item{
		display: flex;
		overflow-x: auto;
		overflow-y: hidden;
		width: 100%;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: #3e3e3e;
		z-index: 2;
		padding: 8px;
	}

	nav #nav-item a{
		color: #FFF;
		font-size: 1em;
		text-align: center;
		margin: 0;
		margin-right: 10px;
		transition: 0.3s;
		word-break: keep-all;
	}
	nav #nav-item i{
		display: block;
		margin: auto;
		font-size: 25px;
		transition: 0.3s;
	}
	nav #nav-time{
		display: flex;
		justify-content: space-around;
		overflow-x: scroll;
	}
	nav #uimg{
		display: block;
		margin: auto;
	}
	nav #nav-item a:hover,i:hover{
		color: #d0d0d0;
	}

  nav #nav-item #uimg {
    height: 25px;
    width: 25px;
  }
}