<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">投票</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <h5>您已投過票!</h5>
  <p>
    您投給了:<br>
    <%= @vote_log.vote_item.try(:title) %>
  </p>
  <p>
    IP:<br>
    <%= @vote_log.ip_address %>
  </p>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
</div>