<% provide :web_title, @weeknotesubject['title'] %>


<div class="container" style="padding: 20px;margin-top: 60px;">
	<div class="uk-card uk-card-default uk-card-body uk-width-1-2@m" style="margin-bottom: 20px;">
		<h3 id="title"><%= @weeknotesubject['title'] %></h3>
		<div id="describe">
			<%= simple_format(@weeknotesubject['describe']) %>
			<%= render 'form' %>
		</div>
	</div>
</div>
