<h2>管理員</h2>
<table class="table table-hover">
    <tbody>
        <% @admins.each do |admin| %>
            <tr>
                <th scope="row"><span class="uname"><img src="<%= uimg(admin.uimg) %>" class="uimg"><%= admin.uname %></span></th>
                <th style="vertical-align: middle;text-align: right;">
                    <a href="mailto:<%= admin.email %>"><i class="far fa-envelope fa-lg fa-fw"></i></a>
                </th>
            </tr>
        <% end %>
    </tbody>
</table>